body{
    background-color: cadetblue;



}


.class1 {
    text-align: center;
    font-size: xx-large;
}


h2{

    font-size: medium;
}

h3{
font-size: large;

}


h4{
font-size:medium;

}


h5{

    font-size: x-large;
}

h6{
font-size: medium;

}

